[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[MemoryCaptures]/

Assets/AssetStoreTools*

.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

.DS_Store
Thumbs.db
Desktop.ini

*.json.tmp
*.json.bak
*.json.corrupted
*.blob
